pipeline/TEST_RETURN_JSON.json
{
	"name": "TEST_RETURN_JSON",
	"properties": {
		"activities": [
			{
				"name": "Return_json",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Lookup tables file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/test_return_json/test_return_json"
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_formula1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup tables file",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_table_file",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Return_json",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup tables file').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "table_var",
								"value": {
									"value": "@activity('Return_json').output.runOutput[item().table_name]",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"table_var": {
				"type": "String"
			}
		},
		"annotations": []
	}
}